.user-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    
    img {
      width: 200px;
      height: 200px;
      border-radius: 50%;
      margin-bottom: 20px;
    }
  
    div {
      margin-bottom: 10px;
    }
  
    button {
      font-size: 18px;
      font-weight: 500;
      padding: 10px 20px;
      background-color: #007bff; 
      color: #fff; 
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s;
    }
  
    button:hover {
      background-color: #0056b3; 
    }
  }
  

   .user-name {
    font-size: 22px; 
    font-weight: 600;
    color: #333;
  }
  
  .user-id {
    font-size: 19px;
    color: #333; 
    font-weight: bold; 
  }
  
  .user-email {
    font-size: 18px;
    color: #333; 
    font-weight: 500;
    font-style: italic; 
  }


  @media screen and (max-width: 300px) {
    .user-details {
      padding: 10px; 
    }
    
    .user-details img {
      width: 150px; 
      height: 150px;
      margin-bottom: 10px; 
    }
    
    .user-name {
      font-size: 18px; 
    }
    
    .user-id {
      font-size: 16px;
    }
    
    .user-email {
      font-size: 14px; 
    }
  }
  
  @media (max-width: 600px) {
    img {
      width: 150px;
      height: 150px; 
    }

    .user-name {
      font-size: 18px; 
    }

    .user-id {
      font-size: 16px;
    }

    .user-email {
      font-size: 14px; 
    }
  }

  @media (max-width: 726px) {
    .user-details {
      padding: 10px;
    }
  
    img {
      width: 150px;
      height: 150px;
    }
  
    .user-name {
      font-size: 18px;
    }
  
    .user-id {
      font-size: 16px;
    }
  
    .user-email {
      font-size: 15px;
    }
  
    button {
      font-size: 16px;
      padding: 8px 16px;
    }
  }

  @media (max-width: 926px) {
    .user-details {
      padding: 10px;
    }
  
    .user-name {
      font-size: 20px;
    }
  }