/* You can add global styles to this file, and also import other style files */
body {
    background-color: #f0f0f0; /* Your desired background color */
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
  }
  